*.pyc
*~
*.pyo
__pycache__/
*.py[cod]
myvenv/
.env
db.sqlite3
venv/
osinuluadebayo/
.vscode
update.txt
credits.txt
license.txt#.Python
env/
build/
develop-eggs/
dist/
downloads/
eggs/
lib/
lib64/
parts/
sdist/
var/
*.log
*.pot
*.pyc
__pycache__/
local_settings.py